html{
    display: flex;
    justify-content: center;
    background: #333;
}

body{
    text-align: center;
    font-family: "Arial";
    color: #333;
    background: white;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    width: 80%;
    height: 99vh;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

#contenedor{
    padding: 10px;
    text-align: left;
    font-weight: 700;
    margin: 0 auto;
    height: calc(100vh - 110px - 70px);
}

#contenedor h1{
    font-size: 40px;
}

header{
    width: 100%;
    padding: 5px;
    background: black;
    color: deeppink;
    margin-bottom: 15px;
    box-shadow: 3px 9px 33px 14px rgba(0, 0, 0, 0.51);
    box-sizing: border-box;
    display: flex;
    position: relative;
    height: 110px;
}

header img{
    width: 100px;
}

header h1{
    padding-left: 30px;
}

footer{
    background: black;
    color: deeppink;
    width: 100%;
    text-align: right;
    padding-right: 100px;
    box-sizing: border-box;
    height: 70px;
}